* {
    margin: 0;
    padding: 0
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.content {
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 20px;
    font-family: Arial, sans-serif
}

.formulario {
    background-color: #000;
    padding: 12px 20px 12px 40px;
}
.texto{
    width: 100%;
}
.container{
    width: 100%;
}
.CargarDatos{
    background-color: aqua;
    border-radius: 15px;
    height: 50px;
    border: none;
    font-size: 20px;
}
.btn{
    background-color: aqua;
    border-radius: 15px;
    height: 50px;
    border: none;
    font-size: 20px;
}
.contenedor{
    display: flex;
    padding: 50px;
    width: auto;
    margin-right: 50px;
}


